header{
    display: flex;
    justify-content: center;
    background-color: #8FBDD3;

}
nav{
    background-color: #E4D1B9;

}
section{
    grid-column: 1/4;
    background-color: #BE8C63;

}
aside{
    grid-column: 4/5;
    background-color: #A97155;

}
footer{
    background-color: #8FBDD3;

}
main{
    color: black;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
     
}

.menu{
    padding: 0px 20px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;    
}

.menu>li{
    float: left;
}

.menu li a{
    text-decoration: none; 
    padding: 20px 80px;
    display: block;
}

.menu li a:hover{
    background-color: chocolate;
}

.menu li ul{
    display: none;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    min-width: 140px;
}

.menu li:hover > ul{
    display: block;
}

.menu li ul li{
    position: relative;    
}

.menu li ul li ul{
    right: 140px;
}